<div class="form-group">
  <label for="select">Select</label>
    <div class="form-field select">
      <select name="select" id="select">
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
        <option value="Option 4">Option 4</option>
        <option value="Option 5">Option 5</option>
        <option value="Option length">Option that has too long of a value to fit</option>
      </select>
      <span class="focus"></span>
  </div>
</div>

<div class="form-group">
  <label for="multiple-select">Multiple Select</label>
    <div class="form-field select select--multiple">
      <select multiple name="multiple-select" id="multiple-select">
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
        <option value="Option 4">Option 4</option>
        <option value="Option 5">Option 5</option>
        <option value="Option length">Option that has too long of a value to fit</option>
      </select>
      <span class="focus"></span>
  </div>
</div>

<div class="form-group">
  <label for="select-disabled">Disabled Select</label>
    <div class="form-field select select--disabled">
      <select disabled name="select-disabled" id="select-disabled">
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
        <option value="Option 4">Option 4</option>
        <option value="Option 5">Option 5</option>
        <option value="Option length">Option that has too long of a value to fit</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="multiple-select-disabled">Disabled Multiple Select</label>
    <div class="form-field select select--multiple select--disabled">
      <select disabled multiple name="multiple-select-disabled" id="multiple-select-disabled">
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
        <option value="Option 4">Option 4</option>
        <option value="Option 5">Option 5</option>
        <option value="Option length">Option that has too long of a value to fit</option>
    </select>
  </div>
</div>